.home-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

/* VIEWPORT (camera window) */
.memory-viewport {
  height: calc(100vh - 80px);
  width:100%;
  overflow: auto;
  position: relative;
}

/* VIRTUAL CANVAS */
.memory-canvas {
  min-width: 2000px;
  min-height: 1500px;
  padding: 120px;

  transition: none;
}

/* GRID */
.memory-wall {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--card-size), 1fr)
  );
  justify-items: center;
}


.snapwall-scroll {
  display: flex;
  padding: 20px 32px;
  overflow-x: auto;
  overflow-y: visible;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.snapwall-scroll::-webkit-scrollbar {
  display: none;  
}

.highlight-memory {
  animation: highlightPulse 2s ease-in-out 2;
  box-shadow: 0 0 25px rgba(255, 0, 120, 0.7);
  border-radius: 18px;
}

@keyframes highlightPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.04); }
  100% { transform: scale(1); }
}
